<!-- TODO: Render header here -->
<!-- The whole 'long' homepage exists within the 'fullpage' div -->
<div id="fullpage">
  <!-- Then each'section' within the longer page has a 'section' div -->
	<div class="section" id="section0">
    Landing page
<!-- The whole 'long' homepage exists within this 'fullpage' div -->

  <!-- Then each'section' within the longer page has a 'section' div -->

    <h1>ChurnIt</h1>
    <h2>Credit cards made simple.</h2>
    <div>
      <a href="#" class="btn btn-white btn- animate">Discover</a>
    </div>
  </div>
	<div class="section" id="section1">
    <div class="center-content">
      <h2 class="text-center">How it works</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa-regular fa-credit-card" style="height:100px"></i>
          <h4>Set</h4>
          <p>Tell us which card you have</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-chart-column" style="height:100px"></i>
          <h4>Compare</h4>
          <p>Compare your card with others</p>
        </div>
        <div class="icon">
          <i class="fa-solid fa-calendar-day" style="height:100px"></i>
          <h4>Churn!</h4>
          <p>Set calandar reminders when to change card</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-button">
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
<!-- NOTE: The 'personalisation' part will be one form. The form will wrap AROUND the four question sections. -->
	<div class="section" id="section2">
      <a href="#" class="btn btn-white btn- animate">Next</a>
  </div>
  <div class="section" id="section3">
    What's your annual income?

      <%= form_tag(compare_cards_path, method: :get) do |f| %>
        <%= label_tag :income, "What's your annual income?" %>
        <%= text_field_tag :income, '10000' %>
        <%= label_tag :spending, "What's your annual spending?" %>
        <%= text_field_tag :spending, '5000' %>
        <%= label_tag :card_selected, "Which card?" %>
        <%= select_tag :card_selected, options_for_select(@cards.map {|card| [card.card_name, card.id, { 'data-url' => cards_path(card.id)}]}) %>
      <%= submit_tag 'Continue' %>
    <% end %>
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
  <div class="section" id="section4">
    How much do you spend each month?
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
	<div class="section" id="section5">
    What do you look for in a card?
    <div>
      <a href="#" class="btn btn-white btn- animate">Next</a>
    </div>
  </div>
</div>

<!-- TODO: Render footer here -->
