<%# <%= render 'shared/navbar' %>
<%# <script src="./app/javascript/packs/application.js"></script> %>
<div id="fullpage">
  <!-- Landing page -->
  <div class="section" id="section0">
    <!-- hero banner -->
    <div class="hero">
      <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1647078307/landing-banner-desktop-purple_yoytsa.png" alt="Person reaching for credit card">
      <!-- title -->
        <div class="hero-text-container">
          <h1><strong>ChurnIt</strong></h1>
        </div>
    </div>
    <!-- h2, button, how it works section -->
    <div class="text-center" id="landing-content">
      <h2 id="demo"></h2>
      <script>
        let i = 0;
        const txt = 'Credit cards made simple';
        const speed = 60;
        document.addEventListener("load", typeWriter())
        function typeWriter() {
          if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
          }
        }
      </script>
      <br><br>
      <a href="#anchor1" target="_parent" class="text-white btn-main">Get started</a>
      <br><br>
      <!-- How It Works section -->
      <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#howItWorksModal">
        How does it work?
      </button>
      <br><br>
      <%= render "shared/footer" %>
    </div>
  </div>
  <!-- personalisation questions -->
  <div class="section" id="section1" data-anchor='anchor1'>
    <div class="main">
      <div class="wrapper">
        <h1 class="text-white text-center">What do you look for in a card?</h1>
        <!-- sortable -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script>
          $( function() {
            $( "#sortable" ).sortable();
          } );
        </script>
        <!-- drag and drop -->
        <div class="flex-middle">
          <p class="text-white text-center">More important</p>
          <ul class="drag-drop text-center" id="sortable" style="list-style: none;">
            <li id="fee" class="ui-state-default drag-text-container gradient-pink-blue">Low Annual Fee</li>
            <li id="cashback" class="ui-state-default drag-text-container">Cashback</li>
            <li id="reward" class="ui-state-default drag-text-container">Reward Points</li>
            <li id="foreign" class="ui-state-default drag-text-container">Low Foreign Transaction Fee</li>
          </ul>
          <p class="text-white text-center">Less important</p>
        </div>
        <script>
          $( "#sortable" ).sortable(
          {
            stop: function( event, ui )
            {
              var idsInOrder = $("#sortable").sortable('toArray', { attribute: 'id' });
              console.log(idsInOrder);
              const hidden_field = document.getElementById('preference')
              hidden_field.value = idsInOrder
            }
          });
        </script>
      <div class="text-center text-white">
        <a href="#anchor2" target="_parent" class="btn-main">Next</a>
      </div>
      </div>
    </div>
  </div>
    <!-- What's your income? -->
  <%= form_tag(compare_cards_path, method: :get, data: { show_loader: true }) do |f| %>
  <div class="section" id="section2" data-anchor='anchor2'>
    <div class="main">
      <div class="wrapper">
        <h1 class="text-center">What's your annual salary?</h1>
        <br><br>
        <%= hidden_field_tag :preference, '' %>
        <%# <%= label_tag :income, "What's your annual income?" %>
        <%= text_field_tag :income, '60000' %>
        <br><br><br>
        <div class="text-center text-white">
          <a href="#anchor3" target="_parent" class="btn-main">Next</a>
        </div>
      </div>
    </div>
  </div>
  <!-- How much do you spend? -->
  <div class="section" id="section3" data-anchor='anchor3'>
    <div class="main">
      <div class="wrapper">
        <h1 class="text-white text-center">What's your typical monthly spend?</h1>
        <%# <%= label_tag :spending, "What's your typical monthly spend?" %> %>
        <%= text_field_tag :spending, '3000' %>
        <br><br>
        <div class="text-center text-white">
          <a href="#anchor4" target="_parent" class="btn-main">Next</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Which card do you use -->
  <div class="section" id="section4" data-anchor='anchor4'>
    <div class="main">
      <div class="wrapper">
        <h1 class="text-center">Which card do you currently use?</h1>
        <br><br>
        <%# <%= label_tag :card_selected, "Which card do you currently use?" %>
        <%= select_tag :card_selected, options_for_select(@cards.map {|card| [card.card_name, card.id, { 'data-url' => cards_path(card.id)}]}) %>
        <br>
        <%= submit_tag 'Continue' %>
        <% end %>
        <br><br>
      </div>
    </div>
  </div>
</div>
<!-- for how it works popup -->
<%= render "components/how_it_works_modal" %>
