<%= render "shared/header" %>
<br>
<br>
<br>
<!-- render navbar here?? maybe not if we want to follow Julian's design -->

<body class="bg-dark">
  <div class="main2">
    <div class="wrapper-analysis">
      <!-- left/first section -->
      <div class="analysis-first">
        <!-- title -->
        <div class="text-white">
          <h6>You selected...</h3>
          <h1 style="color: cyan"><%= @card_compare.card_name %></h1>
        </div>
        <!-- card factors -->
        <br><br>
        <%# <h3 class="text-white">Factors</h2> %>
        <div class="compare-card-grid text-white">
          <div class="text-white">
            <h3>Rewards Rate</h3>
            <div class="analysis-factor text-center row align-items-center" id="gradient-blue-green">
              <h4><%= @card_compare.reward_rate %> points per $1 spent</h4>
            </div>
          </div>
          <div class="text-white">
            <h3>Bonus points</h3>
            <div class="analysis-factor text-center row align-items-center" id="gradient-pink-purple">
              <h4><%= number_with_delimiter(@card_compare.bonus_point_reward.to_i) %></h4>
            </div>
          </div>
          <div class="text-white">
            <h3>Ongoing Annual Fee</h3>
            <div class="analysis-factor text-center row align-items-center" id="gradient-red-orange">
              <h4>$<%= number_with_delimiter(@card_compare.annual_fee_after.to_i) %></h4>
            </div>
          </div>
          <div class="text-white">
            <h3>Reward Category</h3>
            <div class="analysis-factor text-center row align-items-center" id="gradient-green-blue">
              <h4><%= @card_compare.reward_category %></h4>
            </div>
          </div>
        </div>
        <!-- Put back button to here -->
        <br><br><br>
        <button onclick="history.back()" class="btn-main">Go Back</button>
      </div>
      <!-- right/second section -->
      <div class="analysis-second">
        <div class="analysis-header">
          <!-- bootstrap tabbed section tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="rewards-tab" data-bs-toggle="tab" data-bs-target="#rewards" type="button" role="tab" aria-controls="rewards" aria-selected="false">Rewards</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="fees-tab" data-bs-toggle="tab" data-bs-target="#fees" type="button" role="tab" aria-controls="fees" aria-selected="true">Fees</button>
            </li>
          </ul>
        </div>
        <div class="analysis-second-inner rounded">
          <!-- tab content -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="rewards" role="tabpanel" aria-labelledby="rewards-tab">
              <h2>Rewards Breakdown</h2>
              <br>
              <% if (@card_compare.reward_category == "N/A") && (@card_compare.cashback_reward == 0)%>
                This card doesn't seem to offer any points reward 🙁
              <% end %>
              <% if @card_compare.cashback_reward > 0 %>
                <h5>Cashback</h5>
                You can earn up to $<%=  number_with_delimiter(@card_compare.cashback_reward.to_i) %> in cashback rewards, provided you spend at least $<%=  number_with_delimiter(@card_compare.cashback_spend.to_i) %> within <%= number_with_delimiter(@card_compare.cashback_time.to_i) %> days.
                <br><br>
              <% end %>
              <% if @card_compare.bonus_point_reward > 0 %>
                <h5>Bonus Points</h5>
                You can earn up to <%=  number_with_delimiter(@card_compare.bonus_point_reward.to_i) %> <%= @card_compare.reward_category %> points on sign up, provided you spend at least $<%=  number_with_delimiter(@card_compare.bonus_point_spend.to_i) %> within <%= number_with_delimiter(@card_compare.bonus_point_time.to_i) %> days.
              <% end %>
              <br><br>

              <% if (@card_compare.bonus_point_reward > 0) && ((@spending.to_i/30 * @card_compare.bonus_point_time) < @card_compare.bonus_point_spend) %>
                <h4>You can earn bonus points on sign up, however, it could stretch your monthly budget</h4>
                Based on your montly spend of $<%=  number_with_delimiter(@spending) %>, you'll need to increase your spending by $<%= number_with_delimiter(((@card_compare.bonus_point_spend.fdiv(@card_compare.bonus_point_time)*30).to_f - (@spending.to_f)).to_i) %> per month to meet the bonus criteria
              <% end %>

              <% if (@card_compare.cashback_reward > 0) && ((@spending.to_i/30 * @card_compare.cashback_time) < @card_compare.cashback_spend) %>
                <h4>You may be eligible for a cashback bonus, however, it could stretch your monthly budget</h4>
                Based on your montly spend of $<%=  number_with_delimiter(@spending) %>, you'll need to increase your spending by $<%= number_with_delimiter(((@card_compare.cashback_spend.fdiv(@card_compare.cashback_time)*30).to_f - (@spending.to_f)).to_i) %> per month to meet the bonus criteria
              <% end %>

              <% if (@card_compare.bonus_point_reward > 0) && ((@spending.to_i/30 * @card_compare.bonus_point_time) >= @card_compare.bonus_point_spend) %>
                Based on your montly spending of $<%=  number_with_delimiter(@spending) %>, you can expect to meet the bonus criteria within <%= @card_compare.bonus_point_spend.fdiv(@spending.to_i/30).to_i %> days.
                You may need to keep the card active until the end of the qualifying period (<%= number_with_delimiter(@card_compare.bonus_point_time.to_i) %> days).
              <% end %>
              <br><br>

              <% if @card_compare.reward_rate > 0 %>
                <h5>Ongoing Rewards</h5>
                You can earn up to <%= @card_compare.reward_rate.to_f %> <%= @card_compare.reward_category %> points for every $1 you spend with this card.
                <br><br>
                <h6>There <em>may</em> be other benefits to this card (e.g. airport lounge access, discounted movie tickets, etc). We have excluded these from the analysis as we don't know enough about you (we're working on it though!).</h6>
              <% end %>
            </div>
            <div class="tab-pane fade" id="fees" role="tabpanel" aria-labelledby="fees-tab">
              <div class="fees-div"></div>
                <h2>Fee Breakdown</h2>
                <br>
                Here's everything you need to know about this card's fees (and how it compares to your current card):
                <br><br>
                <div>
                  <div>
                    <strong>Ongoing Annual Fees</strong>
                    <br><% if @card_compare.annual_fee_after > @card_selected.annual_fee_after %>
                          <i class="fa-solid fa-arrow-up" color="crimson"></i>
                        <% elsif @card_compare.annual_fee_after < @card_selected.annual_fee_after%>
                          <i class="fa-solid fa-arrow-down" color="green"></i>
                        <% else %>
                          <i class="fa-solid fa-equals"></i>
                        <% end %>
                        $<%= number_with_delimiter(@card_compare.annual_fee_after.to_i) %> ($<%= number_with_delimiter(@card_selected.annual_fee_after.to_i) %>) <br><br>
                  </div>
                  <div>
                    <strong>Interest Free Period</strong>
                    <br><% if @card_compare.interest_free_period > @card_selected.interest_free_period %>
                          <i class="fa-solid fa-arrow-up" color="green"></i>
                        <% elsif @card_compare.interest_free_period < @card_selected.interest_free_period%>
                          <i class="fa-solid fa-arrow-down" color="crimson"></i>
                        <% else %>
                          <i class="fa-solid fa-equals"></i>
                        <% end %>
                        <%= @card_compare.interest_free_period.to_i %> days (<%= @card_selected.interest_free_period.to_i %> days)<br><br>
                  </div>
                  <div>
                    <strong>Late Payment Fees</strong>
                    <br><% if @card_compare.late_payment_fee > @card_selected.late_payment_fee %>
                          <i class="fa-solid fa-arrow-up" color="crimson"></i>
                        <% elsif @card_compare.late_payment_fee < @card_selected.late_payment_fee%>
                          <i class="fa-solid fa-arrow-down" color="green"></i>
                        <% else %>
                          <i class="fa-solid fa-equals"></i>
                        <% end %>
                        $<%= @card_compare.late_payment_fee.to_i %> ($<%= @card_selected.late_payment_fee.to_i %>)<br><br>
                  </div>
                  <div>
                    <strong>Interest Rate</strong>
                    <br><% if @card_compare.interest_rate > @card_selected.interest_rate %>
                          <i class="fa-solid fa-arrow-up" color="crimson"></i>
                        <% elsif @card_compare.interest_rate < @card_selected.interest_rate%>
                          <i class="fa-solid fa-arrow-down" color="green"></i>
                        <% else %>
                          <i class="fa-solid fa-equals"></i>
                        <% end %>
                        <%= @card_compare.interest_rate * 100 %>% (<%= @card_selected.interest_rate * 100 %>%)<br><br>
                  </div>
                  <div>
                    <strong>Foreign Transaction fee</strong>
                    <br><% if @card_compare.foreign_transaction_fee > @card_selected.foreign_transaction_fee %>
                          <i class="fa-solid fa-arrow-up" color="crimson"></i>
                        <% elsif @card_compare.foreign_transaction_fee < @card_selected.foreign_transaction_fee%>
                          <i class="fa-solid fa-arrow-down" color="green"></i>
                        <% else %>
                          <i class="fa-solid fa-equals"></i>
                        <% end %>
                        <%= @card_compare.foreign_transaction_fee * 100 %>% (<%= @card_selected.foreign_transaction_fee * 100 %>%)<br>
                  </div>
                </div>
                <% if @card_compare.annual_fee_init < @card_compare.annual_fee_after %>
                  <br>
                    This card’s annual fee is $<%= @card_compare.annual_fee_init.to_i %> in the first year (promo), but will increase to $<%= @card_compare.annual_fee_after.to_i %> the following year.
                    Cancel this card before <strong><%= (Date.today + 364).strftime("%d %B %Y") %></strong> to avoid the fee increase.
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
