
<div class="compare-container">
  <div class="compare-headers">
    <div>
      <h1>Card Facts</h1>
      <h4><i>Based on avg. spend of $  <%= session[:onboarding][:spending] %> per month</i></h4>
    </div>
    <div class="right-text">
      <div>
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646970819/ChurnIt-logos_black_eguxks.png" alt="ChurnIt logo" class="header-img">
      </div>
        <span>Methodology</span> | <span>Card Rank</span> | <span>About Us</span>
    </div>
  </div>

  <div class="line"></div>

<div class="container-cards">
    <div class="card-index mb-3" id="headers-card">
      <h4>Your options:</h4>
      <div class="card-img">
      </div>
      <div class="card-index-infos">
        <div>
          <h4 class="card-h4">Card Name</h4>
          <div class="line-sml"></div>
          <p>Card Type</p>
          <div class="line-sml"></div>
          <p>Reward Category</p>
          <div class="line-sml"></div>
          <p>Sign up Bonus</p>
          <div class="line-sml"></div>
          <p>Bonus Eligibility</p>
          <div class="line-sml"></div>
          <p>Ongoing Rewards</p>
          <div class="line-sml"></div>
          <p>Foreign Transaction Fee</p>
          <div class="line-sml"></div>
          <p>Annual Fee</p>
        </div>
      </div>
    </div>

    <div class="card-index mb-3">
      <h4>Your current card</h4>
      <% @card = Card.find(session[:onboarding][:card_selected]) %>
      <div class="card-img">
          <%= image_tag @card.card_image_url %>
      </div>
      <div class="card-index-infos">
        <div>
          <h4 class="card-h4"><%= @card.card_name %></h4>
          <div class="line-sml"></div>
          <p><%= @card.card_type%></p>
          <div class="line-sml"></div>
          <p><%= @card.reward_category %></p>
          <div class="line-sml"></div>
          <p>Up to <%= @card.bonus_point_reward.to_i %> points</p>
          <div class="line-sml"></div>
          <p>Spend $<%= @card.bonus_point_spend.to_i %> within <%= @card.bonus_point_time %> days</p>
          <div class="line-sml"></div>
          <p>Up to <%= @card.reward_rate %> points per $1 spent</p>
          <div class="line-sml"></div>
          <p><%= format('%<num>0.2f', num: @card.foreign_transaction_fee)%>%</p>
          <div class="line-sml"></div>
          <p>$<%= format('%<num>0.2f', num: @card.annual_fee_init)%></p>
        </div>
      </div>
    </div>

    <% @recommended_cards.each do |card| %>
        <div class="card-index mb-3">
          <h4>Recommendation</h4>
          <div class="card-img">
            <%= image_tag card.card_image_url %>
          </div>
            <div class="card-index-infos">
              <div>
                <h4 class="card-h4"><%= card.card_name %></h4>
                <div class="line-sml"></div>
                <p><%= card.card_type%></p>
                <div class="line-sml"></div>
                <p><%= card.reward_category %></p>
                <div class="line-sml"></div>
                <p>Up to <%= card.bonus_point_reward.to_i %> points</p>
                <div class="line-sml"></div>
                <p>Spend $<%= card.bonus_point_spend.to_i %> within <%= @card.bonus_point_time %> days</p>
                <div class="line-sml"></div>
                <p>Up to <%= card.reward_rate %> points per $1 spent</p>
                <div class="line-sml"></div>
                <p><%= format('%<num>0.2f', num: card.foreign_transaction_fee)%>%</p>
                <div class="line-sml"></div>
                <p>$<%= format('%<num>0.2f', num: card.annual_fee_init)%></p>
                <div class="select">
                  <div class="button">
                    <a href="<%=analysis_cards_path%>" target="" class="btn btn-white btn- animate" id="select">Select</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <% end %>



  </div>


</div>
<% if false %>
  <h2>Cards we recommended</h2>
    <% @recommended_cards.each do |card| %>
      <%= card.interest_rate%>
      <%= @card.interest_free_period %>
      <%= @card.annual_fee_init %>
      <%= render 'card', card: card %>
    <% end %>

<h4>Your input income</h4>
<p><%= session[:onboarding][:income] %></p>
<h4>Your input spending</h4>
<p><%= session[:onboarding][:spending] %></p>
<% end %>
