<div class="button-controls">
  <div class="button-group" id="sorts">
  <h2>Sorting</h2>
    <button class="button is-checked hvr-buzz-out" data-sort-value="original-order" id="first-button">original order</button>
    <button class="button hvr-buzz-out" data-sort-value="name">name</button>
    <button class="button hvr-buzz-out" data-sort-value="reward_rate">reward_rate</button>
    <button class="button hvr-buzz-out" data-sort-value="interest_free_period">interest_free_period</button>
    <button class="button hvr-buzz-out" data-sort-value="annual_fee_init ">annual_fee_init</button>
  </div>
  <div class="button-group" id="filters">
  <h2>Filtering</h2>
    <button class="button is-checked hvr-buzz-out" data-filter="*" id="filter-first-button">show all</button>
    <button class="button hvr-buzz-out" data-filter=".VISA, .Visa">VISA</button>
    <button class="button hvr-buzz-out" data-filter=".Mastercard">MASTERCARD</button>
    <button class="button hvr-buzz-out" data-filter=".American">American Express</button>
  </div>
</div>

<div class="container">
  <div class="grid">
    <% @cards.each do |card| %>
      <div class="<%="credit-card-item #{ card.card_type }" %>" id="credit-card-items">
        <div class="card hvr-float-shadow hvr-buzz-out">
          <img src="<%= card.card_image_url %>" class="card-img-top" alt="card">
          <div class="card-body">
            <h5 class="card-title name"><%= card.card_name %></h5>
            <ul>
              <li class="card-text"><%= card.card_type %></li>
              <li class="card-text reward_rate">reward rate <%= card.reward_rate.to_i %></li>
              <li class="card-text interest_free_period text-wrap">interest_free_period <%= card.interest_free_period.to_i %></li>
              <li class="card-text annual_fee_init text-wrap">annual_fee_init <%= card.annual_fee_init.to_i %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
