<!DOCTYPE html>
<html>
  <head>
    <title>Churnit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="/assets/myicon.ico" rel="shortcut icon" type="image/x-icon" />

  </head>

  <body>
<!-- below is for user login if required -->
    <% if false %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/flashes' %>
    <% end %>
    <%= yield %>
  </body>
</html>
